.cardHeader {
    font-size: 2rem;
    font-weight: bold;
    color: #ffb400;
}

.eventContainer {
    border-radius: 5px;
    /* border: 1px solid gray; */
    box-shadow:  0 0 17px 3px rgba(184,184,184,.5);
    padding: 10px;
    padding-top: 20px;
    margin: 20px 0;
}

.eventContainer p {
    margin: 0;
}