.container {
  min-height: 100vh;
  width: 90%;
  margin-left: 100px;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.85;  
}
/* 
.wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  background-color: white;
  right: -5px;
  top: 40px;
}

.wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  background-color: #e0efe3;
  left: 0;
  top: 27px;
} */